# =========================
# Build directories
# =========================
build/

# =========================
# Logs / runtime outputs
# =========================
*.log

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
